<% unless notice.nil? %>
  <div class="alert alert-success notice">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p id="notice"><%= notice %></p>
  </div>
<% end -%>
<section class="container table_flex_five">
  <h1 class="space-title"><%=raw I18n.t ('.general.titles.method_payments') %></h1>
  <table id="datatable" class="table table-hover">
    <thead>
      <% @method_payments.each do |method_payment| %>
      <tr>
        <th><%= raw I18n.t('.general.attribute.name') %></th>
        <th><%= raw I18n.t('.general.attribute.created_at') %></th>
        <th><%= raw I18n.t('.general.attributes.actions') %></th>
      </tr>
      <% end %>
    </thead>
    <tbody>
     <% @method_payments.each do |method_payment| %>
      <tr>
        <td><%= method_payment.name %></td>
        <td><%= method_payment.created_at.strftime("%d-%m-%Y")%></td>
        <td>
        <% if @permiso_consultar == true %>
          <%= link_to method_payment, class: "hvr-skew-backward", :data => {:toggle=>"tooltip"}, 'title' => "Ver"  do %>
          <%= content_tag(:i, nil, class: ["glyphicon", "glyphicon-eye-open"] ) %>
          <%= content_tag(:span, I18n.t(".general.action.see")) %>
          <% end %>
        <% end -%>
        <% if @permiso_modificar == true %>
          <%= link_to edit_method_payment_path(method_payment), class: "hvr-skew-backward", :data => {:toggle=>"tooltip"}, 'title' => "Modificar" do %>
          <%= content_tag(:i, nil, class: ["glyphicon", "glyphicon-pencil"] ) %>
          <%= content_tag(:span, I18n.t(".general.action.edit")) %>
          <% end %>
        <% end -%>
        <% if @permiso_activar == true %>
          <% if method_payment.may_inhabilitar? %>
          <%= link_to "/method_payments/#{method_payment.id}/inhabilitar", method: :put, data: { confirm: I18n.t('.general.action.question.method_payment.disable')}, class: "hvr-skew-backward", :data => {:toggle=>"tooltip"}, 'title' => "Desactivar" do %>
          <%= content_tag(:i, nil, class: ["glyphicon", "glyphicon-off"] ) %>
          <%= content_tag(:span, I18n.t(".general.action.disable")) %>
          <% end %>
          <%else%>
          <%= link_to "/method_payments/#{method_payment.id}/habilitar", method: :put, data: { confirm: I18n.t('.general.action.question.method_payment.enable')}, class: "hvr-skew-backward", :data => {:toggle=>"tooltip"}, 'title' => "Activar" do %>
          <%= content_tag(:i, nil, class: ["glyphicon", "glyphicon-off"] ) %>
          <%= content_tag(:span, I18n.t(".general.action.enable")) %>
          <% end %>
        <% end -%>
        </td> 
        <%end%>
      </tr>
      <% end %>
    </tbody>
  </table>
<% if @permiso_crear == true %>
  <%= link_to new_method_payment_path,  class: "hvr-skew-backward"  do %>
  <%= content_tag(:span, I18n.t('.general.action.register') << " " << I18n.t('.general.model.method_payment')) %>
  <% end %>
<% end -%>
<% if !@method_payments.present? %>
  <div class="alert alert-danger notice col-lg-12 ml-0">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p><%= raw I18n.t('.general.attribute.list_empty') %></p>
  </div>
<% end %>
</section>
