<%$forget = params[:action]%>
<% unless notice.nil? %>
<div class="alert alert-success notice">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p id="notice"><%= notice %></p> 
</div>
<% end -%> 
<section class="container table_flex_five">
  <h1 class="space-title"><%=raw I18n.t ('.general.titles.blocked_users') %></h1>
  <table id="datatable" class="table table-hover">
    <thead>
    <% @employees.each do |employee| %>
      <tr>
        <th><%= raw I18n.t('.general.attributes.names') %></th>
        <th><%= raw I18n.t('.general.attributes.surnames') %></th>
        <th><%= raw I18n.t('.general.attribute.identification_document') %></th>
        <th><%= raw I18n.t('.general.attribute.username') %></th>
        <th><%= raw I18n.t('.general.attributes.actions') %></th>
      </tr>
      <% end %>
    </thead>
    <tbody>
      <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.first_name %> <%= employee.second_name %></td>
        <td><%= employee.surname %> <%= employee.second_surname %></td>
        <td><%= employee.type_identification %>-<%= employee.identification_document %></td>
        <td><%= employee.user.username %></td>
        <td>
          <% if @permiso_consultar == true %>
          <%= link_to "/employees/#{employee.id}/show_list", class: "hvr-skew-backward", :data => {:toggle=>"tooltip"}, 'title' => "Ver" do %>
          <%= content_tag(:i, nil, class: ["glyphicon", "glyphicon-eye-open"] ) %> 
          <%= content_tag(:span, I18n.t(".general.action.see")) %>
          <% end %>
          <% end -%>
          <% if @permiso_desbloquear == true %>
          <%= link_to "/employees/#{employee.id}/unblocked", method: :put, data: { confirm: I18n.t('.general.action.question.employee.unblocked')}, class: "hvr-skew-backward", :data => {:toggle=>"tooltip"}, 'title' => "Desbloquear" do %>
          <%= content_tag(:i, nil, class: ["glyphicon", "glyphicon-lock"] ) %>
          <%= content_tag(:span, I18n.t(".general.action.unblocked")) %>
          <%end%>
          <% end -%>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% if !@employees.present? %>
  <div class="alert alert-danger notice col-lg-12 ml-0">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p><%= raw I18n.t('.general.attribute.list_empty') %></p>
  </div>
  <% end %>
  <div class="col-md-4 item-grid1 simpleCart_shelfItem">
    <%= will_paginate @employees %>
  </div>
</section>
