<% unless notice.nil? %>
<div class="alert alert-success notice">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p id="notice"><%= notice %></p> 
</div>
<% end -%> 
<div class="title-center">
  <%if $empleado == "externo"%>
    <h1 class="space-title"><%= raw I18n.t('.employees.actions.show_employee_clinic') %></h1>
  <%else%>
    <h1 class="space-title"><%= raw I18n.t('.employees.actions.show_employee') %></h1>
  <%end%>
</div>
<div class="col-lg-10 col-xs-12">
  <div class="col-lg-12">
    <div class="col-lg-4 col-xs-5 text-right">
      <strong><%= raw I18n.t ('.employees.attributes.first_name') %>  </strong>
    </div>  
    <div class="col-lg-8 col-xs-7 rdown">
      <div class="col-lg-8 ">
        <%= @employee.first_name %> <%= @employee.second_name %>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="col-lg-4 col-xs-5 text-right">
      <strong><%= raw I18n.t ('.employees.attributes.surname') %>  </strong>
    </div>
    <div class="col-lg-8 col-xs-7 rdown">
      <div class="col-lg-8 ">
        <%= @employee.surname %> <%= @employee.second_surname %>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="col-lg-4 col-xs-5 text-right">
      <strong><%= raw I18n.t ('.employees.attributes.identification_document') %>  </strong>
    </div>
    <div class="col-lg-8 col-xs-7 rdown">
      <div class="col-lg-8 ">
        <%= @employee.type_identification %> - <%= @employee.identification_document %>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="col-lg-4 col-xs-5 text-right">
      <strong><%= raw I18n.t ('.employees.attributes.email') %>  </strong>
    </div>
    <div class="col-lg-8 col-xs-7 rdown">
      <div class="col-lg-8 ">
        <%= @employee.email %>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="col-lg-4 col-xs-5 text-right">
      <strong><%= raw I18n.t ('.employees.attributes.position') %>  </strong>
    </div>
    <div class="col-lg-8 col-xs-7 rdown">
      <div class="col-lg-8 ">
        <%= @employee.position.name %>
      </div>
    </div>
  </div>
  <%unless @employee.asignar_username_con_opciones.nil?%>
  <div class="col-lg-12">
    <div class="col-lg-4 col-xs-5 text-right">
      <strong><%= raw I18n.t ('.employees.attributes.user') %>  </strong>
    </div>
    <div class="col-lg-8 col-xs-7 rdown">
      <div class="col-lg-8 ">
        <%= @employee.user.username %>
      </div>
    </div>
  </div>
  <%end%>
  <% unless $empleado == "externo"%>
    <div class="col-lg-12">
      <div class="col-lg-4 col-xs-5 text-right">
        <strong><%= raw I18n.t ('.employees.attributes.security_profiles_id') %>  </strong>
      </div>
      <div class="col-lg-8 col-xs-7 rdown">
        <div class="col-lg-8 ">
          <%= @employee.security_profile.name %>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-4 col-xs-5 text-right">
        <strong><%= raw I18n.t ('.employees.attributes.tipo_perfil') %>  </strong>
      </div>
    
      <div class="col-lg-8 col-xs-7 rdown">
        <div class="col-lg-8 ">
          <%= @employee.type_profile %>
        </div>
      </div>
    </div>
    <%unless @employee.type_profile == "Permanente"%>
      <div class="col-lg-12">
        <div class="col-lg-4 col-xs-5 text-right">
          <strong><%= raw I18n.t ('.employees.attributes.date_valid') %>  </strong>
        </div>
        <div class="col-lg-8 col-xs-7 rdown">
          <div class="col-lg-8 ">
            <%= @employee.date_valid %>
          </div>
        </div>
      </div>
    <%end%>
  <%end%>
  <div class="col-lg-12">
    <div class="col-lg-4 col-xs-5 text-right">
      <strong><%= raw I18n.t ('.employees.attributes.created_at') %>  </strong>
    </div>
    <div class="col-lg-8 col-xs-7 rdown">
      <div class="col-lg-8 ">
        <%= @employee.created_at.strftime("%d-%m-%Y") %>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="col-lg-4 col-xs-5 text-right">
      <strong><%= raw I18n.t ('.employees.attributes.updated_at') %>  </strong>
    </div>
    <div class="col-lg-8 col-xs-7 rdown">
      <div class="col-lg-8 ">
        <%= @employee.updated_at.strftime("%d-%m-%Y") %>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="col-lg-4 col-xs-5 text-right">
      <strong><%= raw I18n.t ('.employees.attributes.status') %>  </strong>
    </div>
    <div class="col-lg-8 col-xs-7 rdown">
      <div class="col-lg-8 ">
        <%= @employee.status %>
      </div>
    </div>
  </div>
<% unless @motives_history.empty?%>
<div class="col-lg-11 col-lg-offset-1 col-sm-10 col-sm-offset-3 col-md-8 col-md-offset-4">
  <h1 class="space-title"><%=raw I18n.t ('.employees.actions.motive_description') %></h1>
</div> 
<div class="col-lg-11 col-lg-offset-1">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= raw I18n.t('.general.attributes.description') %></th>
        <th><%= raw I18n.t('.general.attributes.status') %></th>
        <th><%= raw I18n.t('.general.attributes.date') %></th>
      </tr>
    </thead>
    <tbody>
      <% @motives_history.each do |motives_history| %>
      <tr>
        <td><%= motives_history.motive %></td>
        <td><%= motives_history.status %></td>
        <td><%= motives_history.created_at.strftime("%d-%m-%Y")  %></td>
        <td>
        </td> 
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%end%>   
</div>
<%if @employee.confirmed == true%>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center">
  <% if @permiso_modificar == true %>      
    <%= link_to I18n.t('.general.action.edit'), edit_employee_path(@employee),class: "hvr-skew-backward" %>
  <% end -%> 
    <%= link_to I18n.t('.general.action.cancel'), employees_path,class: "hvr-skew-backward" %>
  </div>
<%else%>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center">      
  <%= link_to I18n.t('.general.action.cancel'), employees_path,class: "hvr-skew-backward" %>
</div>  
<%end%> 
</div>
