<% unless notice.nil? %>
<div class="alert alert-success notice">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p id="notice"><%= notice %></p>
</div>
<% end -%> 
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pr-0 pl-0">
  <div class="title-center">
    <h1 class="space-title"><%=raw I18n.t ('.providers.actions.show_provider') %></h1>
  </div>

  <div class="col-lg-12 col-xs-12">
  <div class="col-lg-12 col-xs-12 img-center pro-img">
    <% if @provider_provider.image_file_name.nil? %>
    <i class="fa fa-cube"></i>
    <%else%>
    <%= image_tag @provider_provider.image.url(:medium) %>
    <%end%>
  </div>
</div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0  pl-0">
    <div class="col-lg-5 col-sm-5 col-md-5 col-xs-5 text-right pl-0 ">
      <strong><%= raw I18n.t('.providers.attributes.name') <<" "<< I18n.t('.providers.attributes.business_name') %></strong>
    </div>
    <div class="col-lg-7 col-sm-7 col-md-7 col-xs-7 rdown">
      <div class="col-lg-10 ">
        <%= @provider_provider.name %>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0  pl-0">
    <div class="col-lg-5 col-sm-5 col-md-5 col-xs-5 text-right pl-0 ">
      <strong><%= raw I18n.t('.providers.attributes.rif') %></strong>
    </div>
    <div class="col-lg-7 col-sm-7 col-md-7 col-xs-7 rdown">
      <div class="col-lg-10 ">
        <%= @provider_provider.type_identification %>-<%= @provider_provider.rif %>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0  pl-0">
    <div class="col-lg-5 col-sm-5 col-md-5 col-xs-5 text-right pl-0 ">
      <strong><%= raw I18n.t('.providers.attributes.phone') %></strong>
    </div>
    <div class="col-lg-7 col-sm-7 col-md-7 col-xs-7 rdown break-all">
      <div class="col-lg-10 ">
        <%= @provider_provider.phone %>
      </div>
    </div>
  </div>
  <%unless  @provider_provider.phone2.nil? %>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0  pl-0">
    <div class="col-lg-5 col-sm-5 col-md-5 col-xs-5 text-right pl-0 ">
      <strong><%= raw I18n.t('.providers.attributes.phone') %> 2</strong>
    </div>
    <div class="col-lg-7 col-sm-7 col-md-7 col-xs-7 rdown break-all">
      <div class="col-lg-10 ">
        <%= @provider_provider.phone2 %>
      </div>
    </div>
  </div>
   <% end %>
     <%unless  @provider_provider.phone3.nil? %>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0  pl-0">
    <div class="col-lg-5 col-sm-5 col-md-5 col-xs-5 text-right pl-0 ">
      <strong><%= raw I18n.t('.providers.attributes.phone') %> 3</strong>
    </div>
    <div class="col-lg-7 col-sm-7 col-md-7 col-xs-7 rdown break-all">
      <div class="col-lg-10 ">
        <%= @provider_provider.phone3 %>
      </div>
    </div>
  </div>
  <%end%>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0  pl-0">
    <div class="col-lg-5 col-sm-5 col-md-5 col-xs-5 text-right pl-0 ">
      <strong><%= raw I18n.t('.providers.attributes.email') %></strong>
    </div>
    <div class="col-lg-7 col-sm-7 col-md-7 col-xs-7 rdown break-all">
      <div class="col-lg-10 ">
        <%= @provider_provider.email %>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0  pl-0">
    <div class="col-lg-5 col-sm-5 col-md-5 col-xs-5 text-right pl-0 ">
      <strong><%= raw I18n.t('.providers.attributes.provider_provider_type_id') %></strong>
    </div>
    <div class="col-lg-7 col-sm-7 col-md-7 col-xs-7 rdown">
      <div class="col-lg-10 ">
        <%= @provider_provider.provider_provider_type.name %>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0  pl-0">
    <div class="col-lg-5 col-sm-5 col-md-5 col-xs-5 text-right pl-0 ">
      <strong><%= raw I18n.t('.providers.attributes.address') %></strong>
    </div>
    <div class="col-lg-7 col-sm-7 col-md-7 col-xs-7 rdown">
      <div class="col-lg-10 ">
        <%= @provider_provider.address%>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0  pl-0">
    <div class="col-lg-5 col-sm-5 col-md-5 col-xs-5 text-right pl-0 ">
      <strong><%=raw I18n.t ('.general.attributes.created_at')%></strong>
    </div>
    <div class="col-lg-7 col-sm-7 col-md-7 col-xs-7 rdown">
      <div class="col-lg-10">
        <%= @provider_provider.created_at.strftime("%d-%m-%Y") %>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0  pl-0">
    <div class="col-lg-5 col-sm-5 col-md-5 col-xs-5 text-right pl-0 ">
      <strong><%=raw I18n.t ('.general.attributes.updated_at')%></strong>
    </div>
    <div class="col-lg-7 col-sm-7 col-md-7 col-xs-7 rdown">
      <div class="col-lg-10">
        <%= @provider_provider.updated_at.strftime("%d-%m-%Y") %>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0  pl-0">
    <div class="col-lg-5 col-sm-5 col-md-5 col-xs-5 text-right pl-0 ">
      <strong><%=raw I18n.t ('.general.attributes.status')%></strong>
    </div>
    <div class="col-lg-7 col-sm-7 col-md-7 col-xs-7 rdown">
      <div class="col-lg-10">
        <%= @provider_provider.status %>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pr-0 pl-0">
  <div class="title-center col-lg-12">
    <h1 class="space-title"><%=raw I18n.t ('.providers.actions.datos_responsable') %></h1>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0  pl-0">
    <div class="col-lg-5 col-sm-5 col-md-5 col-xs-5 text-right pl-0 ">
      <strong><%= raw I18n.t('.providers.attributes.identification_document') %></strong>
    </div>
    <div class="col-lg-7 col-sm-7 col-md-7 col-xs-7 rdown">
      <div class="col-lg-10 ">
        <%= @provider_provider.type_identification_responsable %>-<%= @provider_provider.identification_document %>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0  pl-0">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0  pl-0">
      <div class="col-lg-5 col-sm-5 col-md-5 col-xs-5 text-right pl-0 ">
        <strong><%= raw I18n.t('.providers.attributes.firt_name_responsable')%></strong>
      </div>
      <div class="col-lg-7 col-sm-7 col-md-7 col-xs-7 rdown">
        <div class="col-lg-10 ">
          <%= @provider_provider.firt_name_responsable %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0  pl-0">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0  pl-0">
      <div class="col-lg-5 col-sm-5 col-md-5 col-xs-5 text-right pl-0 ">
        <strong><%= raw I18n.t('.providers.attributes.last_name_responsable')%></strong>
      </div>
      <div class="col-lg-7 col-sm-7 col-md-7 col-xs-7 rdown">
        <div class="col-lg-10 ">
          <%= @provider_provider.last_name_responsable %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0  pl-0">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0  pl-0">
      <div class="col-lg-5 col-sm-5 col-md-5 col-xs-5 text-right pl-0 ">
        <strong><%= raw I18n.t('.providers.attributes.phone_responsable')%></strong>
      </div>
      <div class="col-lg-7 col-sm-7 col-md-7 col-xs-7 rdown">
        <div class="col-lg-10 ">
          <%= @provider_provider.phone_responsable %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0  pl-0">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0  pl-0">
      <div class="col-lg-5 col-sm-5 col-md-5 col-xs-5 text-right pl-0 ">
        <strong><%= raw I18n.t('.providers.attributes.email_responsable')%></strong>
      </div>
      <div class="col-lg-7 col-sm-7 col-md-7 col-xs-7 rdown">
        <div class="col-lg-10 ">
          <%= @provider_provider.email_responsable %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0  pl-0">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0  pl-0">
      <div class="col-lg-5 col-sm-5 col-md-5 col-xs-5 text-right pl-0 ">
        <strong><%= raw I18n.t('.providers.attributes.position')%></strong>
      </div>
      <div class="col-lg-7 col-sm-7 col-md-7 col-xs-7 rdown">
        <div class="col-lg-10 ">
          <%= @provider_provider.position %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="title-center col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0  pl-0">
  <h1 class="space-title"><%=raw I18n.t ('.providers.actions.equipo_medico') %></h1>
</div>
<div class="center-flex col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0  pl-0">
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
    <% if !@medical_equipment.nil?%>
    <div class="col-lg-11 col-lg-offset-1">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= raw I18n.t('.general.attributes.names') %></th>
            <th><%= raw I18n.t('.general.attributes.surnames') %></th>
            <th><%= raw I18n.t('.medicos.attributes.speciality_id') %></th>
          </tr>
        </thead>
        <tbody>
          <% @medical_equipment.each do |medical_equipment| %>
          <tr>
            <td><%= medical_equipment.provider_medico.people.first_name %></td>
            <td><%= medical_equipment.provider_medico.people.surname %></td>
            <td><%= medical_equipment.provider_medico.speciality.name%></td>
            <td>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%else%>
    <p>No se han encontrado resultados.</p>
    <%end%>
  </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0  pl-0 center">
  <% if @permiso_modificar == true %>
    <%= link_to I18n.t('.general.action.edit'), edit_provider_provider_path(@provider_provider),class: "hvr-skew-backward" %>
  <% end -%>
  <%= link_to I18n.t('.general.action.cancel'), provider_providers_path,class: "hvr-skew-backward" %>
</div>
