<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag "pdf"%>
  <%= wicked_pdf_javascript_include_tag "number_pages" %>
</head>
<body onload='number_pages' >
  <table width="1000" class="cab-header">
    <tr>
      <td width="800">
        <%= image_tag wicked_pdf_asset_base64('logo-web.png') %>
      </td>
      <td width="200">
        <table width="200">
          <tr class="pdf-td">
            <td>
              <div align="right">
                <p>
                  <strong>Fecha:</strong>
                  <%= Date.today.strftime("%d-%m-%Y")%>
                </p>
                <p>
                  <strong>Hora:</strong>
                  <%= DateTime.now.strftime("%H:%M") %>
                </p>
                <p>
                  <strong>Usuario:</strong>
                  <%= current_user.username %>
                </p>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <% if params[:desde]=='' || params[:hasta]=='' %>
  <div align="center">
    <h3 class="space-title">Beneficiarios Atendidos desde el <%= Date.today.strftime("%d-%m-%Y")%> hasta el <%= Date.today.strftime("%d-%m-%Y")%></h3>
  </div>
  <%else %>
  <div align="center">
    <h3 class="space-title">Beneficiarios Atendidos desde el <%=$desde %> hasta el <%= $hasta %></h3>
  </div>
  <%end%>
  <table class="report">
   <thead>
     <tr class="cab-thead">
      <th>Número del servicio</th>
      <th>Número de orden de compra</th>
      <th>Identificación del cliente</th>
      <th>Nombre/Razón social</th>
      <th>Producto</th>
      <th>Centro médico</th>
      <th>Médico</th>
      <th>Fecha de atención</th>
      <th>Precio</th>
    </tr>
  </thead>
  <tbody>
    <% @service_services.each do |service_service|%>
    <tr  class="pdf-td clinic">
      <td><%= service_service.code %></td>
      <td><%= service_service.payment_contracted_product.payment_plan.number_plan %></td>
      <% unless service_service.payment_contracted_product.payment_plan.customer.nil? %>
      <td><%= service_service.payment_contracted_product.payment_plan.customer.identificacion_usuario %></td>
      <td><%= service_service.payment_contracted_product.payment_plan.customer.nombre_usuario %></td>
      <%else%>
      <td><%= service_service.payment_contracted_product.payment_plan.business_company.identificacion_company %></td>
      <td><%= service_service.payment_contracted_product.payment_plan.business_company.name %></td>
      <% end %>
      <td><%= service_service.payment_contracted_product.product_product.name %></td>
      <td><%= service_service.payment_contracted_product.product_product.provider_provider.name %></td>
      <%if service_service.provider_medico_provider_id.present? %>
      <td><%= service_service.provider_medico_provider.provider_medico.people.first_name%> <%= service_service.provider_medico_provider.provider_medico.people.surname%></td>
      <%else%>
      <td> - </td>
      <%end%>
      <%unless service_service.appointment_date.nil?%>
      <td><%= service_service.appointment_date.strftime("%d-%m-%Y") %></td>
      <%else%>
      <td></td>
      <%end%>
      <td><%= number_with_precision(service_service.payment_contracted_product.price_contracted.to_f, precision: 2,delimiter:'.',separator: ',')  %></td>
    </tr>
    <%end%>
  </tbody>
</table>

<footer>
  <table width="1000">
    <tr class="pdf-td">
      <td width="125"></td>
      <td width="750" align="right">
        <p>
          <strong>Monto Total de Beneficiarios Atendidos:</strong>
        </p>
      </td>
      <td width="110" align="center">
        <p>
          <%= "Bs.#{number_with_precision($total_servicios_atendidos.to_f, precision: 2, delimiter:'.',separator: ',')}" %>
        </p>
      </td>
    </tr>

    <tr class="pdf-td">
      <td width="125"></td>
      <td width="750" align="right">
        <p>
          <strong>Total Beneficiarios Atendidos:</strong>
        </p>
      </td>
      <td width="110" align="center">
        <p>
          <%= @service_services.count %>
        </p>
      </td>
    </tr>
  </table>
</footer>

</body>
</html>
