<% @colection_package_product = Colection::PackageProduct.new %>
<%= form_for @colection_package_product, validate: true,remote: true do |f| %>
<div class="col-lg-12 form-group">
  <div class="col-lg-12 input_100">
   <%= f.label "Producto",class:"label-form" %>
    <% if @colection_package.category == "Individual"%>
        <%= f.collection_select(:product_product_id, Product::Product.where("category <> ? and status = ? ", 'PYMES', 'Activo' ), :id, :armar_nombre, prompt: true )%>
     <% elsif  @colection_package.category == "PYMES"%>
        <%= f.collection_select(:product_product_id, Product::Product.where( "category <> ? AND status = ?",'Individual','Activo' ), :id, :armar_nombre, prompt: true )%>
      <%else%>
       <%= f.collection_select(:product_product_id, Product::Product.where(status: 'Activo' ), :id, :armar_nombre, prompt: true )%>
      <%end%>  
 </div>
</div>
<div class="col-lg-12 form-group">
  <div class="col-lg-12 input_100">
     <%= f.label "Cantidad",class:"label-form" %>
   <%= f.number_field :quantity, min: 1, value: 1,validate: true, placeholder:"cantidad" %>
 </div>
</div>
<div class="field hidden">
  <%= f.label :user_created_id, hidden: "true" %>
  <%= f.number_field :user_created_id, hidden: "true"%>
</div>
<div class="field hidden">
  <%= f.label :user_updated_id, hidden: "true" %>
  <%= f.number_field :user_updated_id, hidden: "true" %>
</div>
<div id="divAceptarProduct" class="col-lg-12 form-group">
  <div class="col-lg-12 left">
   <%= f.submit "Agregar producto", :id=> "btnAceptarPaqueteProducto", data: {disable_with: "Agregando ..."},class: "hvr-skew-backward"%>
 </div>
</div>
<% end%>
