<%= form_for(speciality) do |f| %>
<div class="col-lg-12 form-group">
  <div class="col-lg-12 input_100">
  <label class="label-form"><%= I18n.t ('.specialities.attributes.name') %></label>
    <%= f.text_field :name, minlength: '3', maxlength: '50', class:"input"%>
  </div>
</div>
<div class="col-lg-12 form-group">
  <div class="col-lg-12 input_100">
   <label class="label-form"><%= I18n.t ('.specialities.attributes.description') %></label>
    <%= f.text_area :description, minlength: '0', maxlength: '140',class:"input_area"%>
  </div>
</div>
<!--   <div class="field ">
<%= f.number_field :user_created_id , hidden: "true" , value: "1"%>
<%= f.number_field :user_updated_id , hidden: "true" , value: "1"%>
</div> -->
<div class="col-lg-12 form-group">
  <div class="col-lg-2 col-lg-offset-7">
    <%= link_to I18n.t('.general.action.cancel'), specialities_path,class: "hvr-skew-backward" %>
  </div>
  <% if @permiso_modificar == true || @permiso_crear == true%> 
    <div class="col-lg-3 pull-right">
      <%= f.submit I18n.t('.specialities.actions.accept'), data: {disable_with: "Guardando ..."},class: "hvr-skew-backward" %> 
    </div>
  <% end -%>
</div>
<% end %>
