<% unless notice.nil? %>
<div class="alert alert-success notice">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p id="notice"><%= notice %></p> 
</div>
<% end -%> 

<p>
  <strong>Colection package:</strong>
  <%= @sale_package_quotation.colection_package %>
</p>

<p>
  <strong>Sale quotation:</strong>
  <%= @sale_package_quotation.sale_quotation %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @sale_package_quotation.quantity %>
</p>

<%= link_to 'Edit', edit_sale_package_quotation_path(@sale_package_quotation) %> |
<%= link_to 'Back', sale_package_quotations_path %>
