<% unless notice.nil? %>
<div class="alert alert-success notice">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p id="notice"><%= notice %></p>
</div>
<% end -%>
<section class="container table_flex_five">
  <h1 class="space-title"><%=raw I18n.t ('.general.titles.producto_pay') %></h1>
  <% if @payment_plan.present? %>
  <div class="pull-right col-lg-12 icon-download">
   <%= link_to " Exportar a Excel", payment_contracted_products_path(format: "xlsx",fechaDesde: params[:fechaDesde], fechaHasta: params[:fechaHasta]), class:"fa fa-download" %>
  </div>
  <%end%>
  <table id="datatable" class="table table-hover table-contracted_products">
    <thead>
      <% @payment_plan.each do |payment_plan| %>
      <tr>
        <th>Orden de compra</th>
        <th>Código cotización</th>
        <th>Titular</th>
        <th>Fecha de pago</th>
        <th>Estatus de la orden de compra</th>
        <th><%= raw I18n.t('.general.attributes.actions') %></th>
      </tr>
      <% end -%>
    </thead>
    <tbody>
      <% @payment_plan.each do |payment_plan| %>
      <tr>
        <td><%= payment_plan.number_plan%></td>
        <td><%= payment_plan.sale_quotation.quoting_number %></td>
        <% unless payment_plan.customer.nil? %>
        <td><%= payment_plan.nombre_titular %></td>
        <%else%>
        <td><%= payment_plan.business_company.name %></td>
        <% end %>
        <td><%= payment_plan.created_at.strftime("%d-%m-%Y")%></td>
        <td><%= payment_plan.status %></td>
        <td>
          <% if @permiso_consultar == true %>
          <%= link_to "/payment/contracted_products/#{payment_plan.id}", { controller: "contracted_products", action: "show", id: payment_plan, class: "hvr-skew-backward" , :data => {:toggle=>"tooltip"}, 'title' => "Ver" } do %>
          <%= content_tag(:i, nil, class: ["glyphicon", "glyphicon-eye-open"] ) %>
          <%= content_tag(:span, I18n.t(".general.action.see")) %>
          <% end %>
          <% end -%>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>


