 <div class="row">
   <% if !@packages.present? %>
   <div class="alert alert-danger notice">
    <button type="button" class="close" data-dismiss="alert">&times;</button>   
    <p id="notice margin_left_none">No se han encontrado resultados.</p>
  </div>
  <% end %>
</div>
<% unless notice.nil? %>
<div class="row">
  <div class="alert alert-danger notice">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p id="notice margin_left_none"><%= notice %></p>
  </div>
</div>
<% unless @package_quotation.nil? %>
<p>
  <strong>Paquete </strong>
  <%= @package_quotation.colection_package.description %>
</p>
<p>
  <strong>Cantidad </strong>
  <%= @package_quotation.quantity %>
</p>
<% end %>
<% end -%>
<div class="col-lg-12">
  <div class="breadcrumbs">
    <%= render_breadcrumbs :separator => ' / '%>
  </div>
</div>
<div class="row">
  <% @packages.each do |package| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <div class="cont-img">
        <% if package.image_file_name.nil? %>
        <i class="fa fa-medkit"></i>
        <%else%>
        <%= image_tag package.image.url(:medium) %>
        <%end%>
      </div>
      
      <div class="mid-1">
        <div class="special_produc">
          <span>Bs. <%= number_with_precision(package.total_amount.to_f, precision: 2,delimiter:'.',separator: ',') %></span>
        </div>
        <div class="special_produc product_soberano">
          <span>Bs. S <%= number_with_precision(product.price.to_f/100000, precision: 2,delimiter:'.',separator: ',') %></span>
        </div>
        <div class="name_product">
          <h6><%= link_to "#{package.description}", { controller: "home" , action: "promotion", id: package} %></h6>
        </div>
      </div>
    </div>
  </div>
  <%end%>
  <div class="col-md-4 item-grid1 simpleCart_shelfItem">
    <%= will_paginate @packages %>
  </div>
</div>