<%= form_for @customer, validate: true do |f| %>
  <%= f.fields_for :people do |p| %>
  <%= render 'people/form', :f => p %>
  <% end %>
  <%if params[:action] == "new" || params[:action] == "create" %>
  <div class="col-lg-12 col-xs-12 form-group p-0">
    <div  class="col-xs-6 col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-6 col-lg-3 col-lg-offset-6">
      <%= link_to I18n.t('.general.action.cancel'), root_path,class: "hvr-skew-backward w-100" %>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 ">
      <%= f.submit :Aceptar, class: "hvr-skew-backward w-100", data: {disable_with: "Registrando ..."} %>
    </div>
  </div>
  <%end%>
  <%if params[:action] == "edit" || params[:action] == "update"%>  
  <div class="col-lg-12 col-xs-12 form-group btn-x p-0">
    <div  class="col-xs-6 col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-6 col-lg-3 col-lg-offset-6">
      <%= link_to I18n.t('.general.action.cancel'), customer_path,class: "hvr-skew-backward w-100" %>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 ">
      <div class="hvr-skew-backward w-100" id="btnAceptarActualizacion">Aceptar</div>
    </div>
  </div>
  <div id="divPassword">    
    <div class="col-lg-12 col-xs-12 form-group p-0">
      <div class="col-lg-12 input_100">
        <label class="label-form"><%= I18n.t ('.people.attributes.password') %></label>
        <i>(Necesitamos su contraseña actual para confirmar sus cambios)</i>
        <%= f.password_field :password_customer,  :input_html => {:maxlength => 50, :size => 60},  class: "input-text", validate: true  %>
      </div>
    </div>
    <div class="col-lg-12 col-xs-12 form-group p-0">
      <div  class="col-x-12 col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-6 col-lg-3 col-lg-offset-6">
        <div class="btn hvr-skew-backward w-100" id="btnCancelarActualizacion">Cancelar</div>
      </div>
      <div class="col-x-12 col-xs-4 col-sm-4 col-md-3 col-lg-3">
        <%= f.submit :Aceptar, class: "btn hvr-skew-backward w-100", data: {disable_with: "Registrando ..."} %>
      </div>
    </div>
  </div>
  <%end%>
<% end %>
