<% unless notice.nil? %>
<div class="alert alert-success notice">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p id="notice"><%= notice %></p> 
</div>
<% end -%> 
<div class="center-flex">
<h1 class="space-title">Datos del Perfil</h1>
</div>
<div class="col-lg-10">
  <div class="col-lg-12">
    <div class="col-lg-2 col-xs-5 text-right">
      <strong><%= raw I18n.t('.profiles.attributes.name_show') %></strong>
    </div>
    <div class="col-lg-10 col-xs-7 rdown">
      <div class="col-lg-10 ">
        <%= @security_profile.name %>
      </div>
    </div>
    <div class="col-lg-2 col-xs-5 text-right">
      <strong><%= raw I18n.t('.roles.attributes.name_show') %></strong>
    </div>
    <div class="col-lg-10 col-xs-7 rdown">
      <div class="col-lg-10 ">
        <%= @security_profile.security_role.name %>
      </div>
    </div>
  </div>
</div>  
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center">      
  <% if @permiso_modificar == true %>
    <%= link_to I18n.t('.general.action.edit'), edit_security_profile_path(@security_profile),class: "hvr-skew-backward" %> 
  <% end -%>
  <%= link_to I18n.t('.general.action.cancel'), security_profiles_path,class: "hvr-skew-backward" %>
</div>
