<% unless notice.nil? %>
  <div class="alert alert-success notice">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p id="notice"><%= notice %></p>
  </div>
<% end %>
<section class="container table_flex_five">
  <h1 class="space-title"><%=raw I18n.t ('.general.titles.motives') %></h1>
  <table id="datatable" class="table table-hover">
    <thead>
      <% @motives.each do |motive| %>
      <tr>
        <th><%= raw I18n.t('.general.attribute.name') %></th>
        <th><%= raw I18n.t('.general.attribute.created_at') %></th>
        <th><%= raw I18n.t('.general.attributes.actions') %></th>
      </tr>
      <% end %>
    </thead>
    <tbody>
      <% @motives.each do |motive| %>
      <tr>
        <td><%= motive.name %></td>
        <td><%= motive.created_at.strftime("%d-%m-%Y")%></td>
        <td>
        <% if @permiso_consultar == true %>
          <%= link_to motive, class: "hvr-skew-backward", :data => {:toggle=>"tooltip"}, 'title' => "Ver"  do %>
          <%= content_tag(:i, nil, class: ["glyphicon", "glyphicon-eye-open"] ) %>
          <%= content_tag(:span, I18n.t(".general.action.see")) %>
          <% end %>
        <% end -%>
        <% if @permiso_modificar == true %>
          <%= link_to edit_motive_path(motive), class: "hvr-skew-backward", :data => {:toggle=>"tooltip"}, 'title' => "Modificar" do %>
          <%= content_tag(:i, nil, class: ["glyphicon", "glyphicon-pencil"] ) %>
          <%= content_tag(:span, I18n.t(".general.action.edit")) %>
          <% end %>
        <% end -%>
        <% if @permiso_activar == true %>
          <% if motive.may_inhabilitar? %>
          <%= link_to "/motives/#{motive.id}/inhabilitar", method: :put, data: { confirm: I18n.t('.general.action.question.motive.disable')}, class: "hvr-skew-backward", :data => {:toggle=>"tooltip"}, 'title' => "Desactivar" do %>
          <%= content_tag(:i, nil, class: ["glyphicon", "glyphicon-off"] ) %>
          <%= content_tag(:span, I18n.t(".general.action.disable")) %>
          <% end %>
          <%else%>
          <%= link_to "/motives/#{motive.id}/habilitar", method: :put, data: { confirm: I18n.t('.general.action.question.motive.enable')}, class: "hvr-skew-backward", :data => {:toggle=>"tooltip"}, 'title' => "Activar" do %>
          <%= content_tag(:i, nil, class: ["glyphicon", "glyphicon-off"] ) %>
          <%= content_tag(:span, I18n.t(".general.action.enable")) %>
          <% end %>
        <%end%>
        </td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
  <% if @permiso_crear == true %>
    <%= link_to new_motive_path,  class: "hvr-skew-backward"  do %>
      <%= content_tag(:span, I18n.t('.general.action.register') << " " << I18n.t('.general.model.motive')) %>
    <% end %>
  <% end -%>
  <% if !@motives.present? %>
    <div class="alert alert-danger notice col-lg-12 ml-0">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p><%= raw I18n.t('.general.attribute.list_empty') %></p>
  </div>
  <% end %>
</section>
