<% unless notice.nil? %>
<div class="alert alert-success notice">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p id="notice"><%= notice %></p>
</div>
<% end -%>
<div class="title-center">
  <h1 class="space-title"><%=raw I18n.t ('.organizations.actions.show_organization') %></h1>
</div>
  <div class="col-lg-10">
    <div class="col-lg-12">
      <div class="col-lg-4 col-xs-5 text-right">
       <strong>Nombre</strong>
     </div>
     <div class="col-lg-8 col-xs-7 rdown">
      <div class="col-lg-10 ">
       <%= @organization.name %>
     </div>
   </div>
 </div>
 <div class="col-lg-12">
  <div class="col-lg-4 col-xs-5 text-right">
    <strong>RIF</strong>
  </div>
  <div class="col-lg-8 col-xs-7 rdown">
    <div class="col-lg-10 ">
      <%= @organization.rif %>
    </div>
  </div>
</div>
<div class="col-lg-12">
  <div class="col-lg-4 col-xs-5 text-right">
    <strong>Email</strong>
  </div>
  <div class="col-lg-8 col-xs-7 rdown">
    <div class="col-lg-10 ">
     <%= @organization.email %>
   </div>
 </div>
</div>
<div class="col-lg-12">
  <div class="col-lg-4 col-xs-5 text-right">
    <strong>Dirección</strong>
  </div>
  <div class="col-lg-8 col-xs-7 rdown">
    <div class="col-lg-10 ">
     <%= @organization.address %>
   </div>
 </div>
</div>
<div class="col-lg-12">
  <div class="col-lg-4 col-xs-5 text-right">
   <strong>Teléfono</strong>
 </div>
 <div class="col-lg-8 col-xs-7 rdown">
  <div class="col-lg-10 ">
    <%= @organization.phone %>
  </div>
</div>
<div class="col-lg-12">
  <div class="col-lg-4  col-xs-5 text-right">
    <strong><%=raw I18n.t ('.general.attributes.created_at')%></strong>
  </div>
  <div class="col-lg-8 col-xs-7 rdown">
    <%= @organization.created_at.strftime("%d-%m-%Y") %>
  </div>
</div>
<div class="col-lg-12">
  <div class="col-lg-4  col-xs-5 text-right">
    <strong><%=raw I18n.t ('.general.attributes.updated_at')%></strong>
  </div>
  <div class="col-lg-8 col-xs-7 rdown">
    <%= @organization.updated_at.strftime("%d-%m-%Y") %>
  </div>
</div>
</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center">
  <% if @permiso_modificar == true %>
    <%= link_to I18n.t('.general.action.edit'), edit_organization_path(@organization),class: "hvr-skew-backward"  %>
  <% end -%>
  <%= link_to I18n.t('.general.action.cancel'), root_path, class: "hvr-skew-backward"  %>
</div>
