<section class="col-lg-8 col-lg-offset-2">
  <div class="col-lg-12">
    <h1 class="space-title"><%= raw I18n.t('.medicos.actions.new_medico') %></h1>
  </div>
  <% if @provider_medico.verificar_empleado_externo?(current_user.id) %>
  <%= render 'form', provider_medico: @provider_medico %>
  <div id="providerMedicoProvider" style= "display:none;" >
    <div>
      <%= render "provider/medico_providers/form" %>
    </div>
    <table class="table table-bordered">
      <thead> 
        <tr>
          <th>Proveedor</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody id="medico_provider">
      </tbody>
    </table>
    <div  class="col-lg-12 form-group">
      <div   class="col-lg-2 pull-right">
        <%= link_to I18n.t('.general.action.cancel'), provider_medicos_path,class: "hvr-skew-backward" %>
      </div>
      <div   class="col-lg-10 pull-right">
        <%= link_to I18n.t('.medicos.actions.accept'), provider_medicos_path,class: "hvr-skew-backward" %>
      </div>
    </div>
  </div>
  <%else %>
    <%= render 'form', provider_medico: @provider_medico %>
  <%end%>
  </section>

