<nav class="navbar navbar-static-top line-navbar-two" style="display: flex;   position: relative;   z-index: 0;
}">
<div class="container">
  <div class="col-lg-3  div-specialities" id="line-navbar-collapse-2 ">
    <ul class="nav navbar-nav lnt-nav-mega hidden-xs hidden-sm">
      <li class="dropdown">
        <a href="#" id="view_menu" class="dropdown-toggle pl-0" data-toggle="dropdown" role="button" aria-expanded="false">
          <span class="fa fa-dot-circle-o"></span>
          Especialidades
          <span class="caret"></span>
        </a>
        <div id="grand_menu" class="dropdown-menu col-lg-8" role="menu">
          <div class="lnt-dropdown-mega-menu">
            <!-- List of categories -->
            <ul class="lnt-category list-unstyled">
              <% @menu_especialidades = Speciality.all %>
              <% @menu_especialidades.each do |menu| %>
              <li class="active"> <a href="#<%= menu.name %>"><p><%= menu.name %></p></a></li>
              <%end%>
            </ul>
            <div class="lnt-subcategroy-carousel-wrap container-fluid">
              <% @menu_especialidades = Speciality.all %>
              <% @menu_especialidades.each do |menu| %>
              <!-- Subcategory and carousel wrap -->
              <div id="<%= menu.name %>" class="active">
                <!-- Sub categories list-->
                <div class="lnt-subcategory col-sm-8 col-md-8">
                  <a href=""><h3 class="lnt-category-name"><%= menu.name %></h3></a>
                  <ul class="list-unstyled list-inline">
                    <% @productos = Product::Product.no_cero.activo.where(:speciality_id => menu.id) %>
                    <% @productos.each do |prod| %>
                    <li class="col-lg-4"> <%= link_to "#{prod.name}", { controller: "home" , action: "details", id: prod} %></li>
                    <%end%>
                  </ul>
                </div>
              </div> <!-- /.subcategory-mailers -->
              <% end %>
            </div>
          </div> <!-- /.category-outreach -->   
        </div> <!-- /.lnt-subcategroy-carousel-wrap -->
      </li> <!-- /.dropdown -->
    </ul> <!-- /.lnt-nav-mega -->
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="col-lg-6 col-md-6 col-sm-12 col-lg-offset-0 pl-0 pr-0" id="line-navbar-collapse-2">
    <form class="navbar-form navbar-left lnt-search-form" role="search">
      <div class="form-group">
        <div  id="the-basics"  class="input-group">
          <div class="input-group-btn lnt-search-category open">
            <button id="menu-option-btn" type="button" class="btn btn-default dropdown-toggle selected-category-btn" data-toggle="dropdown" aria-expanded="true">
              <span class="selected-category-text">Todas</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="menu-option" role="menu">
              <% @menu_especialidades = Speciality.all %>
              <% @menu_especialidades.each do |menu| %>
              <li><a id="<%=  menu.id  %>" href="javascript:void(0)"><%=  menu.name  %></a></li>

              <%end%>
              <li><a id="0" href="javascript:void(0)">Todas</a>
              </ul>
            </div><!-- /btn-group -->
            <input type="text" class="form-control lnt-search-input  padding_none input_custom typeahead" aria-label="Search" placeholder="Buscar Servicio"  name="search"   <%= @search %> />
            
            <input type="hidden" name="param_id_speciality" id="param_id_speciality"  <%= @param_id_speciality %> />
          </div><!-- /input-group -->
        </div>
        <button type="submit" class="btn btn-search"><span class="fa fa-search"></span></button>
    </form> <!-- /.lnt-search-form -->
    <!--<div class="accordion hidden-lg hidden-md" id="acorprincipal">
      <dl class="principal principal-acor">
        <dt>
          <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title  accordionTitle_principal js-accordionTrigger desplegar">Especialidades</a>
        </dt>
        <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
          <div class="accordion m-0">
            <dl>
              <% @menu_especialidades = Speciality.all %>
              <% @menu_especialidades.each do |menu| %>
              <dt>
                <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger"><%= menu.name%></a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
                <ul class="list-unstyled">
                  <% @productos = Product::Product.no_cero.activo.where(:speciality_id => menu.id) %>
                  <% @productos.each do |prod| %>
                  <li><%= link_to "#{prod.name}", { controller: "home" , action: "details", id: prod} %></li>
                  <%end%>
                </ul>
              </dd>
              <%end%>
            </dl>
          </div>
        </dd>
      </dl>
    </div>-->
    
  </div> <!-- /.navbar-collapse -->
  <div class="cont-acordion-new hidden-lg hidden-md">
    <div class="col-sm-12 azul-base mt-1 cont">
      <div class="panel-group" id="accordion">
        <div class="panel">
          <a data-toggle="collapse" class="ul-acordion" data-parent="#accordion" href="#especialidades">
            <div class="panel-heading azul-base">
              <h4 class="panel-title">
                Especialidades
              </h4>
            </div>
          </a>
          <div id="especialidades" class="panel-collapse collapse">
            <div class="panel-body azul-base">
              <div class="col-sm-12">

                <div class="panel-group" id="accordion-interno">

                  <% @menu_especialidades = Speciality.all %>
                  <% @menu_especialidades.each do |menu| %>
                    <div class="panel">
                      <a data-toggle="collapse" class="ul-acordion" data-parent="#accordion-interno" href="#collapse<%= menu.id%>">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <%= menu.name%>
                          </h4>
                        </div>
                      </a>

                      <div id="collapse<%= menu.id%>" class="panel-collapse collapse">
                        <div class="panel-body bg-white">
                          <div class="col-sm-12">
                            <ul>
                              <% @productos = Product::Product.no_cero.activo.where(:speciality_id => menu.id) %>
                              <% @productos.each do |prod| %>
                              <li><%= link_to "#{prod.name}", { controller: "home" , action: "details", id: prod} %></li>
                              <%end%>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  <%end%>

                  

                   

                
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
    

  </div> <!-- /.container -->
</nav> <!-- /.line-navbar-two -->

