
<%unless notice.nil?%>
<div class="alert alert-success notice">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p id="notice"><%= notice %></p> 
</div> 
<%end%>

<div class="title-center">
<h1 class="space-title texs"><%=raw I18n.t ('.account.actions.show_account') %></h1>
</div>
<div class="col-lg-10 col-lg-offset-1">
  <div class="col-lg-12 col-xs-12">
    <div class="col-lg-4 col-xs-5 text-right">
      <strong>Banco</strong>
    </div>
    <div class="col-lg-8 col-xs-7 rdown">
      <div class="col-lg-10 ">
        <%= @account.bank.name %>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-xs-12">
    <div class="col-lg-4 col-xs-5 text-right">
      <strong>Número de cuenta</strong>
    </div>
    <div class="col-lg-8 col-xs-7 rdown">
      <div class="col-lg-10 ">
        <%= @account.formato_cuenta %>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-xs-12">
    <div class="col-lg-4 col-xs-5 text-right">
      <strong>Tipo de cuenta</strong>
    </div>
    <div class="col-lg-8 col-xs-7 rdown">
      <div class="col-lg-10 ">
        <%= @account.account_type %>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-xs-12">
    <div class="col-lg-4 col-xs-5 text-right">
      <strong>Correo electrónico</strong>
    </div>
    <div class="col-lg-8 col-xs-7 rdown">
      <div class="col-lg-10 ">
        <%= @account.email %>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-xs-12">
    <div class="col-lg-4 col-xs-5 text-right">
      <strong>Fecha de creación</strong>
    </div>
    <div class="col-lg-8 col-xs-7 rdown">
      <div class="col-lg-10 ">
        <%= @account.created_at.strftime("%d-%m-%Y") %>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-xs-12">
    <div class="col-lg-4 col-xs-5 text-right">
      <strong>Fecha de modificación</strong>
    </div>
    <div class="col-lg-8 col-xs-7 rdown">
      <div class="col-lg-10 ">
        <%= @account.updated_at.strftime("%d-%m-%Y") %>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-xs-12">
    <div class="col-lg-4 col-xs-5 text-right">
      <strong>Estatus</strong>
    </div>
    <div class="col-lg-8 col-xs-7 rdown">
      <div class="col-lg-10 ">
        <%= @account.status %>
      </div>
    </div>
  </div>

</div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center">
  <% if @permiso_modificar == true %>      
    <%= link_to I18n.t('.general.action.edit'), edit_account_path(@account),class: "hvr-skew-backward" %> 
  <% end -%>
    <%= link_to I18n.t('.general.action.cancel'), accounts_path,class: "hvr-skew-backward" %>
  </div>

